name: Rust

on:
  schedule:
  - cron: 0 9 * * *
  push:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      SBI_ID: ${{ secrets.SBI_ID }}
      SBI_PASS: ${{ secrets.SBI_PASS }}
      GAS_URL: ${{ secrets.GAS_URL }}
      
    steps:
    - uses: actions/checkout@v2
    - name: Run
      run: cargo run --verbose
